table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr.tr-hover-class:hover {
        background: lightgray !important;
      }

  .button {
    background: red;
    color: white;
    border: none;
    align-items: center;
    display: flex;
    padding: 8px;
  }